<!DOCTYPE html>
<html>
{% block content %}
<div class="container-fluid" class="row">
     <div class="col-md-4 col-sm-4 col-xs-12"></div>
     <div class="col-md-4 col-sm-4 col-xs-12">
<h2 align="center">Upload</h2>
<form align="center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
</form>
{% if url %}
<p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
{% endif %}
{% endblock %}
     </div>
     <div class="col-md-4 col-sm-4 col-xs-12"></div>


</div>
</html>